* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAF8;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    text-align: center;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #E5E7EB;
}

.header {
    padding: 16px 180px;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    align-items: center;
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 180px;
    background-color: #1F2937;
    gap: 40px;
}

.hero-text {
    max-width: 450px;
}

.hero-main {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-secondary {
    font-size: 16px;
    font-weight: 300;
    color:#d4d5d8;
    margin-bottom: 16px;
}

.placeholder {
    font-size: 18px;
    text-align: center;
    text-wrap: balance;
    color: #F9FAF8;
    background-color: rgb(105, 105, 105);
    padding: 80px 180px;
    width: 33%;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 180px;
    gap: 40px;
}

.card-title {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.card-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    gap: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color:#848485;
}

.card-icon {
    width: 140px;
    height: 140px;
    border: 3px solid #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
}

.featured {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 200px;
    gap: 16px;
    background-color: #E5E7EB;
    margin-bottom: 80px;
}

.featured-phrase {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    font-weight: 300;
    text-align: center;
    max-width: fit-content;
}

.featured-name {
    font-size: 20px;
    font-weight: 800;
    color:#1F2937;
    text-align: right;
}

.cta {
    margin: 80px auto;
    padding: 40px 0;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 8px;
    max-width: 800px;
}

.cta-main {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin-bottom: 4px;
}

.cta-secondary {
    font-size: 16px;
    font-weight: 400;
    color: #F9FAF8;
}

.cta-button {
    border: 2px solid #F9FAF8;
    font-size: 16px;
}

footer {
    font-size: 16px;
    font-weight: 500;
    color: #F9FAF8;
    text-align: center;
    padding: 40px 80px;
    background-color: #1F2937;
}